body {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 11.9px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.card {
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.1s ease;
  position: relative;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;

}
.card.selected {
  border: 5px solid #ffc107 ;
  box-sizing: border-box;
}

.card .card-img-top {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: block;
  width: 100%;
  object-fit: cover;
}
.check-badge {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #ffc107;
  display: none;
  font-size: 36px;
}
.card.selected .check-badge {
  display: block;
}

.button-book{
  background-color: #d97706;
  color: white;
}
.button-book:hover{
  background-color: #b45309;
  color: white;
}
.border-book{
  border: 3px solid #d97706 !important;
}
.price-book{
  color: #b45309;
}