.hover-warning:hover {
  color: #E08D00 !important;
}
.bg-warning-subtle {
  border-color: #E8E0CC !important;
}
.object-fit-cover {
  object-fit: cover;
}
.button-book {
  background-color: #d97706; 
  color: white !important;
  border: none;
  transition: background-color 0.3s ease;
}

.button-book:hover {
  background-color: #b45309; 
}